<%# header links part %>
<% include head_links %>
<%# navbar part %>
<% include navbar %>
<div class="container mt-5">
    <div class="container category m-auto w-50">
        <h3 class="text-info p-2"><%= title %> </h3>
        <form class='form_add' action="/addNewPassword" method="POST">
          <% if (ShowMsg != '') { %>
            <p class="text-success"><%= ShowMsg %> </p>
           <% } %>
          <div class="mb-3">
            <label for="username" class="form-label">Password Details</label>
            <select class="form-select" name="selectCategory" aria-label="Default select example">
              <option value="">Choose Password Category</option>
              <% if (records.length > 0) { %>
                <% records.forEach(elem => { %>
                  <option value="<%= elem.categoryName %>"><%= elem.categoryName %> </option>
                <% }) %>
              <% } %>
              </select>
          </div>
          <div class="mb-3">
            <label for="projectname" class="form-label">Project Name</label>
           <input type="text" class="form-control" name="projectname" id="projectname">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Password Details</label>
            <textarea name="passwordDetails" rows="3" class="form-control" placeholder="Enter your Password Details" id="editor"></textarea>
          </div>
          <button type="submit" class="btn text-white btn-info">Add Category</button>
          <p class="fw-bold mt-4"><a href="/viewAllPassword" class="text-success text-decoration-none">View All Password Lists</a></p>
        </form>
      </div>
</div>
<script>
  tinymce.init({
        selector: '#editor'
      });
</script>
<%# Footer part %>
<% include footer %>